html{
	
	height: 100%;
}
body{
	
	margin: 0px;
	background-image: url("hover10.jpg");
	background-size: 100% 100%;
	
}

#navBar{
	position: fixed;
	top: 0px;
	height: 50px;	
	width: 100%;
	z-index: 100;
}

#title{
	margin-top: 60px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 30px;
	
}

#spanTitle{
	border: 5px solid #3399FF;
}

#tableNav{
	table-layout: fixed;
	width: 100%;
	height: 100%
}

.cell{
	text-align: center;
	background-color: green;
}

#login{
	background-color: #FF9D5C;
}

#footer{
	position: relative;
	bottom: 0;
	background-color: #FFFFCC;
	margin-top: 10px;
	height: 70px;
	border: 3px solid #3399FF;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
}

#val{
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
	width: 40%;
	text-align: center;
}

#disc{
	margin-top:2px;
	margin-bottom:2px;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
}

#container{
	
	margin-left: 10%;
	margin-right: 10%;
	height: 100%;	
}

#calDiv{
	
	
	margin-bottom: 10px;
	margin-top: 10px;
}
.calTable{
	
	margin-top: 15px;
	margin-bottom:10px;
	height: 100%;
	width: 100%;
	border-collapse: collapse;
}

.calCell{
	padding:0px;
	width:10%;
	height: 100px;
	border: 3px solid #3399FF;
	background-color:#CCFFFF;
	text-align: left;
	vertical-align: text-top;
}

.month{

	margin-bottom: 10px;
	margin-top: 40px;
	text-align: center;
}

.spanMonth{
	border: 3px solid #3399FF;
	font-size: 20px;
}

.numMonth{
	text-align: left;
	vertical-align:text-top;
}
.celDiv{
	height: 100px;
	position: relative;
}

.eventName{
	text-align: center;
}

